<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Automation Suite-1" parallel="tests" preserve-order="true" thread-count="2" >

  <test name="chrome test" preserve-order="true"  >
     
  <parameter name="browser" value="chrome"/>
  <parameter name="url" value="https://stag-5-cmo-1.convirza.com"/>

		<classes >

		<class name="tests.LoginTest"/>
		<class name="tests.CamapignUIVerificationTest"/>
		<class name="tests.CampaignTests"/>
		
		</classes>

	</test>
	
	 




</suite> <!-- Suite -->


