<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Automation Suite">

            <parameter name="browser" value="chrome"/>
  <parameter name="url" value="https://stag-7-cmo-1.convirza.com"/>
<test name="Campaign">


		<classes>

			<class name="tests.CampaignTests">
			

			</class>
		</classes>
	</test>



</suite> <!-- Suite -->
